body
{
  font: 28px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:120;
  background-color:#008B0F;
}
.reasons {
  font-weight: bold;
}
header
{
  background:#6dc21d;
  color:#000000;
  padding-top:30px;
  min-height:70px;
  border-bottom:#008a1a 3px solid;
}

header #logo
{
  float:left;
}

header #logo h1
{
  margin:0;
}